[project]
name = "marktplaats"
version = "0.2.3"
authors = [
  { name="Jens de Ruiter", email="me@jensderuiter.dev" },
]
description = "A small Python package to request listings from marktplaats.nl"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dynamic = ["dependencies"]

[tool.hatch.metadata.hooks.requirements_txt]
files = ["requirements.txt"]

[project.urls]
"Homepage" = "https://github.com/jensjeflensje/marktplaats-py"
"Bug Tracker" = "https://github.com/jensjeflensje/marktplaats-py/issues"

[build-system]
requires = ["hatchling", "hatch-requirements-txt"]
build-backend = "hatchling.build"

