name: Run live tests
on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install buildtools
        run: pip install -r requirements.txt
      - name: Run tests
        run: python -m unittest tests/test_live.py